@{
    ViewData["Title"] = "Pagina Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprender acerca <a href="https://docs.microsoft.com/aspnet/core">
creación de aplicaciones web con ASP.NET Core</a>.</p>
</div>
